.main-content
  .header
    .container-fluid
      .header-body
        .row.align-items-end
          .col
            h1.header-title
              | Crypto Blades Tracker
  .container-fluid
    .row
      .col-12.col-lg-6.col-xl
        .card
          .card-body
            .row.align-items-center
              .col
                h6.card-title.text-uppercase.text-muted.mb-2
                  | Total Accounts
                span#card-acc.h2.mb-0
                  | 0
              .col-auto
                span.h2.fe.fe-dollar-sign.text-muted.mb-0
      .col-12.col-lg-6.col-xl
        .card
          .card-body
            .row.align-items-center
              .col
                h6.card-title.text-uppercase.text-muted.mb-2
                  | Total Unclaimed Skills
                span#card-uskills.h2.mb-0
                  | 0
              .col-auto
                span.h2.fe.fe-briefcase.text-muted.mb-0
      .col-12.col-lg-6.col-xl
        .card
          .card-body
            .row.align-items-center
              .col
                h6.card-title.text-uppercase.text-muted.mb-2
                  | Total Staked Skills
                span#card-sskills.h2.mb-0
                  | 0
              .col-auto
                span.h2.fe.fe-clipboard.text-muted.mb-0
      .col-12.col-lg-6.col-xl
        .card
          .card-body
            .row.align-items-center
              .col
                h6.card-title.text-uppercase.text-muted.mb-2
                  | Total Balance
                span#card-balance.h2.mb-0
                  | 0
              .col-auto
                .chart.chart-sparkline
                  canvas#sparklineChart.chart-canvas
      .col-12.col-lg-6.col-xl
        .card
          .card-body
            .row.align-items-center
              .col
                h6.card-title.text-uppercase.text-muted.mb-2
                  | Skill Price
                span#card-price.h2.mb-0
                  | 0
              .col-auto
                .chart.chart-sparkline
                  canvas#sparklineChart.chart-canvas
    .row
      .col-12.col-xl-12
        .card
          .card-body
            | Donate: 0x6Ab354dB4C395037Eb723D739Ca4AFFbdA513684
      .col-12.col-xl-12
        .card
          .card-header
            .row.align-items-center
              .col
                h4.card-header-title
                  | Accounts
              .col-auto
                a.btn.btn-sm.btn-white(href='#!' data-toggle='modal' data-target='#modal-add-account' data-backdrop='static' data-keyboard='false')
                  | Add Account
          .card-body
            .table-responsive.mb-0
              table#table-accounts.table.table-sm.table-nowrap.card-table
                thead
                  tr
                    th.text-white(data-field='address' data-formatter='nameFormatter')
                      | Name
                    th.text-white(data-field='address')
                      | Address
                    th.text-white(data-field='characters' data-formatter='charFormatter')
                      | Characters
                    th.text-white(data-field='unclaimed' data-formatter='currFormatter')
                      | Unclaimed Skills
                    th.text-white(data-field='rewards' data-formatter='currFormatter')
                      | Staked Skills
                    th.text-white(data-field='balance' data-formatter='currFormatter')
                      | Balance
                    th.text-right(data-field='action')
                      | Action
                tbody.list  